.App-main {
  flex-grow: 1;
  overflow-y: auto;
}

.App-main h2 {
  text-align: center;
}

.Browse {
  color: #FFF;
  width: 80%;
  margin: 0 auto;
}

.Browse h2 {
  font-size: 3.6rem;
  margin-bottom: 0;
}

.category-nav ul {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  letter-spacing: 0.08rem;
}

.category-nav li {
  padding: 10px;
  margin: 5px;
  text-transform: uppercase;
}

.category-nav a {
  color: #B0AFAF;
  text-decoration: none;
}

.category-nav a:hover {
  color: #FFF;
}

.tilelist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: auto;
}

.tile {
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 1.8rem;
  margin: 20px 8px;
  text-align: center;
  width: 150px;
}

.tile .thumbnail {
  height: 150px;
  margin-bottom: 15px;
}
