.album-wrapper,
.playlist-wrapper {
  display: flex;
  overflow-y: auto;
  width: 100%;
}

.album-details,
.playlist-details {
  display: flex;
  flex-direction: column;
  line-height: 3.2rem;
  padding: 40px 20px 40px 40px;
  text-align: center;
  width: 300px;
}

.album-details img,
.playlist-details img {
  height: 250px;
  width: 250px;
}

.album-details--title,
.playlist-details--title {
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 15px;
}

.album-details--artist,
.playlist-details--owner {
  color: #B0AFAF;
}

.album-details--other,
.playlist-details--other {
  color: #B0AFAF;
  text-transform: uppercase;
}

.Playlist {
  color: #FFF;
  flex-grow: 1;
  font-size: 1.6rem;
  padding-right: 30px;
  padding-top: 25px;
  width: 50%;
}

.Playlist ul {
  list-style-type: none;
  padding: 0;
}

.playlist-track {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.playlist-track:hover {
  background-color: rgba(0,0, 0, 0.3);
  cursor: pointer;
}

.playlist-track-left {
  display: flex;
  min-width: 0;
}

.playlist-track--playStatus {
  margin-right: 15px;
}

.music-note {
  color: #B0AFAF;  
}

.playlist-track .play-icon,
.playlist-track:hover .music-note {
  display: none;
}

.playlist-track:hover .play-icon {
  display: inline;
}

.playlist-track--title {
  margin-right: 10px;
}

.playlist-track--artist-info {
  color: #B0AFAF;
  font-size: 1.4rem;
}

.playlist-track--artist, 
.playlist-track--additionalArtists {
  display: inline-block;
}

.playlist-track--artist {
  margin-right: 3px;
}

.playlist-track--additionalArtists {
  margin-left: 3px;
  margin-right: 3px;
}

.album-details--artist:hover, 
.playlist-details--owner:hover,
.playlist-track--artist:hover, 
.playlist-track--additionalArtists:hover {
  color: #FFF;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-skip: ink;
}

.playlist-track--duration {
  color: #B0AFAF;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}