.album-wrapper {
  display: flex;
  overflow-y: auto;
  width: 100%;
}

.album-details {
  display: flex;
  flex-direction: column;
  line-height: 3.2rem;
  padding: 40px;
  text-align: center;
}

.album-details img {
  height: 250px;
  width: 250px;
}

.album-details--title {
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 15px;
}

.album-details--artist {
  color: #B0AFAF;
}

.album-details--other {
  color: #B0AFAF;
  text-transform: uppercase;
}

.Playlist {
  color: #FFF;
  flex-grow: 1;
  font-size: 1.6rem;
  padding-right: 30px;
  width: 50%;
}

.Playlist ul {
  list-style-type: none;
  padding: 0;
}

.playlist-track {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.playlist-track:hover {
  background-color: rgba(0,0, 0, 0.3);
  cursor: pointer;
}

.playlist-track--additionalArtists {
  color: #B0AFAF;
  font-size: 1.4rem;
}

.album-details--artist:hover, 
.playlist-track--additionalArtists:hover {
  color: #FFF;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-skip: ink;
}

.playlist-track--duration {
  color: #B0AFAF;
}