.Search {
  background-color: #121212;  
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
}

.searchbar {
  background-color: #2A2A2A;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
}

.searchbar label {
  color: #FFF;
  margin-bottom: 5px;
}

input {
  background: none;
  border: none;
  color: #FFF;
  caret-color: #2EB925;
  font-size: 4.5rem;
  height: 6rem;
}

input::placeholder {
  color: #4B4B4B;
  font-weight: 700;
}

.results-container {
  color: #FFF;
  height: calc(100% - 200px);
  margin-left: 30px;
  margin-right: 30px;
}

.SearchResults h2 {
  font-size: 3.6rem;
  text-align: center;
}

.top-results,
.artist-results,
.albums-results,
.playlists-results {
  padding-bottom: 20px;
}

.top-results {
  display: flex;
}

.top-results__playlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-results__playlist img {
  height: 230px;
  width: 230px;
}

.top-results__playlist-details {
  display: flex;
  flex-direction: column;
  line-height: 1.5;  
  margin: 10px;
  text-align: center;
}

.top-results__playlist-details--name, 
.artist-results__artist,
.albums-results__album,
.playlists-results__playlist {
  font-weight: 500;
}

.top-results__playlist-details--owner,
.top-results__tracks--artist,
.albums-results__artist,
.playlists-results__owner {
  color: #B0AFAF;
}

.top-results__playlist-details--owner:hover,
.top-results__tracks--artist:hover,
.albums-results__artist:hover,
.playlists-results__owner:hover {
  color: #FFF;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-skip: ink;
}

.top-results__tracks {
  flex-grow: 1;
}

.top-results__tracks ul {
  list-style: none;
  margin: 0;
}

.top-results__tracks ul li {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.top-results__tracks--name {
  font-size: 1.6rem;
  line-height: 1.5;
}

.top-results__tracks--duration {
  color: #B0AFAF;
  font-size: 1.6rem;  
}

.artist.thumbnail {
  border-radius: 100%;
}