.Search {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.searchbar {
  background-color: #2A2A2A;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
}

.searchbar label {
  color: #FFF;
  margin-bottom: 5px;
}

input {
  background: none;
  border: none;
  color: #FFF;
  caret-color: #2EB925;
  font-size: 4.5rem;
  height: 6rem;
}

input::placeholder {
  color: #4B4B4B;
  font-weight: 700;
}

.results {
  background-color: #121212;
  height: 100%;
}
