* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
}

.App-top {
  display: flex;
  height: calc(100vh - 100px);
}

.App-main {
  background-color: lightblue;
  flex-grow: 1;
}

.App-title {
  text-align: center;
}

nav {
  background-color: tomato;
  display: flex;
  flex-direction: column;
  width: 200px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

main {
  overflow-y: auto;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.player {
  background-color: #353535;
  height: 100px;
  justify-content: center;
}

.Browse {
  width: 80%;
  margin: 0 auto;
}

.tilelist {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.tile {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 30px 10px;
}

.tile .thumbnail {
  height: 150px;
  margin-bottom: 15px;
  width: 150px;
}

.Controls {
  align-items: center;
  color: #B0AFAF;
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
}

.Controls-buttons button {
  background: none;
  border: none;
  margin: 3px;
}

.Controls-buttons button:hover {
  cursor: pointer;
}

.Controls-buttons svg {
  color: #B0AFAF;
  height: 15px;
  width: 15px;
}

.Controls-buttons .play-pause svg {
  height: 40px;
  width: 40px;
}

.Controls-progress {
  display: flex;
  align-items: center;
}

.progress-bar {
  background-color: #4F4F4F;
  border-radius: 8px;
  height: 4px;
  margin: 8px;
  width: 400px;
}

.progress-bar-completed {
  background-color: #B0AFAF;
  border-radius: 8px;
  height: 4px;
}
