* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
}

.App-top {
  display: flex;
  height: calc(100vh - 90px);
}

.App-main {
  flex-grow: 1;
  overflow-y: auto;
}

.App-main h2 {
  text-align: center;
}

.App-title {
  text-align: center;
}

.Login {
  background-color: #FFF;
  height: 100vh;
  width: 100vw;
}

.Navbar {
  background-color:rgba(0, 0, 0, 0.8);
  color: #B0AFAF;
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
  width: 220px;
}

.Navbar a {
  color: #B0AFAF;
  font-weight: bold;
  margin-bottom: 30px;
  text-decoration: none;
}

.Navbar a:hover {
  color: #FFF;
  cursor: pointer;
}

.Navbar .selected {
  color: #2EB925;
}

.Navbar h2 {
  font-size: 0.8em;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.Navbar li {
  margin-bottom: 15px;
}

.Navbar .album-type {
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.player {
  background-color: #2A2A2A;
  height: 90px;
  justify-content: center;
}

.Browse {
  color: #FFF;
  width: 80%;
  margin: 0 auto;
}

.category-nav ul {
  display: flex;
  justify-content: center;
}

.category-nav li {
  padding: 10px;
  margin: 5px;
  text-transform: uppercase;
}

.tilelist {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.tile {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 30px 10px;
}

.tile .thumbnail {
  height: 150px;
  margin-bottom: 15px;
  width: 150px;
}

.Controls {
  align-items: center;
  color: #B0AFAF;
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
}

.Controls-buttons button {
  background: none;
  border: none;
  margin: 3px;
}

.Controls-buttons button:hover {
  cursor: pointer;
}

.Controls-buttons svg {
  color: #B0AFAF;
  height: 15px;
  width: 15px;
}

.Controls-buttons .play-pause svg {
  height: 40px;
  width: 40px;
}

.Controls-progress {
  display: flex;
  align-items: center;
}

.progress-bar {
  background-color: #4B4B4B;
  border-radius: 8px;
  height: 4px;
  margin: 8px;
  width: 400px;
}

.progress-bar-completed {
  background-color: #B0AFAF;
  border-radius: 8px;
  height: 4px;
}
